.container-employee{
  max-width: 96%;
}

.Paginator-Bar{
  display: flex;
  justify-content: flex-end;
}

.mr-10{ margin-right: 10px; }
.ml-10{ margin-left: 10px; }

.container-button{ 
  display: flex;
  align-items: center;
}

.button-employee{
    margin-bottom: 8px;
    border: none;
    height: 2.4em;
    border-radius: 5%;
    background: #cfe2ff;
}

.button-employee-blue{
  background: #84a6db;
  color: #fbfbfb;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.button-employee-cian{
    background: #cfe2ff;
}

.letter-table{
  font-size: 0.9em;
}


.forms{
  margin: 1% 15%;
}

.form__button{
  display: flex;
  justify-content: center;
  align-items: end;
}

.form__messages_error{
  color: #cb4c4c;
}